.table-blue {
    --bs-table-color: #fff;
    --bs-table-bg: #012970;
    --bs-table-border-color: #373b3e;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
    vertical-align: top; /* Centra verticalmente en la parte superior */
    text-align: center; /* Centra horizontalmente */
}

.table-blue th  {
    background-color: #012970 !important;
    color: white !important;
    text-align: center; /* Centra horizontalmente */
    vertical-align: top; /* Centra verticalmente en la parte superior */
    padding: 10px; /* Ajusta el espaciado interno según sea necesario */
}

.table-overflow{
    overflow-y: auto;
    max-height: 400px;
}


/* Archivo de estilos o componente CSS */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.33);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-track:hover {
    background-color: #d4d4d4;
}
