.table-blue {
    --bs-table-color: #fff;
    --bs-table-bg: #012970;
    --bs-table-border-color: #373b3e;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
    vertical-align: top; /* Centra verticalmente en la parte superior */
    text-align: center; /* Centra horizontalmente */
}

.table-blue th  {
    background-color: #012970 !important;
    color: white !important;
    text-align: center; /* Centra horizontalmente */
    vertical-align: top; /* Centra verticalmente en la parte superior */
    padding: 10px; /* Ajusta el espaciado interno según sea necesario */
}

.table-overflow{
    overflow-y: auto;
    max-height: 400px;
}

/* Agrega este CSS a tu archivo de estilos o componente CSS */
.datatable-container::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.datatable-container::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.33); /* Color del thumb del scroll */
    border-radius: 10px; /* Radio de esquinas del thumb */
}

.datatable-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del thumb del scroll al pasar el mouse sobre él */
}

.datatable-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de la pista del scroll */
}

.datatable-container::-webkit-scrollbar-track:hover {
    background-color: #d4d4d4; /* Color de la pista del scroll al pasar el mouse sobre él */
}