.combo-dropdown {
    position: absolute; /* Cambiamos 'relative' a 'absolute' */
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    background-color: white;
    z-index: 9999; /* Ajusta el valor de z-index según sea necesario */
}

.combo-dropdown .option {
    padding: 8px;
    cursor: pointer;
}

.combo-dropdown .option:hover {
    background-color: #f0f0f0;
}
